@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/Proxima_Nova_Alt_Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/Proxima-Nova-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/Proxima-Nova-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/Proxima-Nova-Bold.otf");
  font-weight: 700;
}
/* line 35, ../scss/Site.scss */
.container-fluid, .header .header-cell {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 58, ../scss/Site.scss */
body {
  font-family: 'Proxima-Nova', Tahoma;
  background-color: #fafafa;
}

/* line 63, ../scss/Site.scss */
input,
button {
  font-family: inherit;
}

/* line 72, ../scss/Site.scss */
.header {
  border-bottom: 3px solid #ccc;
  height: 68px;
  background-color: #fff;
}
/* line 77, ../scss/Site.scss */
.header .header-group {
  max-width: 930px;
  margin: auto;
  height: 100%;
}

/* line 88, ../scss/Site.scss */
.navbar a, .login a {
  font-size: 14px;
  color: #737373;
  font-weight: bold;
  padding: 14px 18px !important;
}

@media only screen and (max-width: 768px) {
  /* line 95, ../scss/Site.scss */
  .header, .navbar-nav, .section {
    width: 100%;
    height: auto;
  }

  /* line 100, ../scss/Site.scss */
  .header-group {
    padding: 15px;
  }

  /* line 104, ../scss/Site.scss */
  .header-cell {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* line 112, ../scss/Site.scss */
  .sidebar {
    margin-top: 13px;
  }
  /* line 114, ../scss/Site.scss */
  .sidebar a {
    border: 1px solid #d5d5d5;
  }

  /* line 119, ../scss/Site.scss */
  .navbar {
    padding: 0;
  }
}
